$primary-brand-pink: #E3178C;
$primary-brand-dark-blue: #081B2D;
$primary-brand-nav-blue: #0B243F;
$primary-brand-blue: #29539D;
$neutral-navy-blue-bkg: #0D2945;
$dropdown-nav-active-blue: #182C4C;
$black: #000;
$white: #fff;
$dark-grey: #999;
$light-grey: #ddd;
$light-netural-blue: #8CADD1;
$extra-graph-yellow: #FFEA5D;
$stock-ticker-up: #12EAB7;
$stock-ticker-blue: #8CADD1;
$dark-text-grey: #333333;
$navy-blue: #2966b0;
$light-navy-text: #537ba9;
$background-blue: #E1E8ED;
$light-gray-text: #A2A6A9;
$light-blue-rule :#AAC3DE;
$light-blue-text: #8CADD2;
$accordion-header-blue: #8cadd2;
$pagination-blue: #2f89cc;