<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Experient Consultancy, INC</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/7816072/6534792/css/fonts.css" />
    <link rel="stylesheet" href="../public/css/main.css">
</head>

<body>
    <div class="scrim"></div>
    <header>
        <div class="wrapper">
            <button type="button" class="menu-btn"><span></span></button>
            <nav class="navigation">
                <div class="wrapper">
                    <ul class="main-nav gotham-light">
                        <li>
                            <div class="social">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px"
                                    viewBox="0 0 486.392 486.392" style="enable-background:new 0 0 486.392 486.392;" xml:space="preserve"
                                    width="512px" height="512px">
                                    <g>
                                        <g>
                                            <g>
                                                <path d="M243.196,0C108.891,0,0,108.891,0,243.196s108.891,243.196,243.196,243.196     s243.196-108.891,243.196-243.196C486.392,108.861,377.501,0,243.196,0z M306.062,243.165l-39.854,0.03l-0.03,145.917h-54.689     V243.196H175.01v-50.281l36.479-0.03l-0.061-29.609c0-41.039,11.126-65.997,59.431-65.997h40.249v50.311h-25.171     c-18.817,0-19.729,7.022-19.729,20.124l-0.061,25.171h45.234L306.062,243.165z"
                                                    fill="#FFFFFF" />
                                            </g>
                                        </g>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px"
                                    viewBox="0 0 486.392 486.392" style="enable-background:new 0 0 486.392 486.392;" xml:space="preserve"
                                    width="512px" height="512px">
                                    <g>
                                        <g>
                                            <g>
                                                <path d="M243.196,0C108.891,0,0,108.891,0,243.196s108.891,243.196,243.196,243.196     s243.196-108.891,243.196-243.196C486.392,108.861,377.501,0,243.196,0z M182.397,360.994h-60.799V148.197h60.799V360.994z      M153.882,135.156c-15.747,0-28.484-12.768-28.484-28.515s12.768-28.515,28.484-28.515c15.747,0.03,28.515,12.798,28.515,28.515     C182.397,122.388,169.629,135.156,153.882,135.156z M395.193,360.994h-60.799V229.425c0-15.413-4.408-26.204-23.347-26.204     c-31.403,0-37.452,26.204-37.452,26.204v131.569h-60.799V148.197h60.799v20.337c8.694-6.657,30.399-20.307,60.799-20.307     c19.699,0,60.799,11.795,60.799,83.051V360.994z"
                                                    fill="#FFFFFF" />
                                            </g>
                                        </g>
                                </svg>
                            </div>
                        </li>
                        <li class="logo"><img src="/images/experient/triangle icon.png" alt="Experian Logo">
                        </li>
                        <li><a href="#services">Our Services</a>
                        </li>
                        <li><a href="#process">Our Process</a>
                        </li>
                        <li><a href="#client">Our Prospective Client</a>
                        </li>
                        <li><a href="#team">Our Team</a>
                        </li>
                        <li><a href="#about">Contact Us</a>
                        </li>
                    </ul>
                    <ul class="sub-nav gotham-light">
                        <li><a href="#" class="showPrivacy">LEGAL</a>
                        </li>
                        <li><a href="#" class="showCopyright">COPYRIGHT</a>
                        </li>
                        <li><a href="#services" class="scrollDown"><img src="/images/experient/scroll down arrow.png" alt="Experient Logo"></a>
                        </li>
                    </ul>
                    <div class="privacy gotham-light">
                        <button class="close" type="button">close</button>
                        <h2>PRIVACY</h2>
                        <p>All rights reserved. We respect your privacy. And it is our policy not to share or sell any information
                            you provide us. Our web site contains several contact forms that allow visitors to interact with
                            our company.</p>
                        <p>These forms require personal information so that we can respond to requests efficiently especially
                            if the response entails the use of U.S. mail or another courier. The information we collect through
                            these forms is used only to respond to specific requests. We retain this information but do not
                            use it for any other purpose.</p>
                        <p>Periodically we may use cookies to collect non-personally identifiable information. This helps us
                            detect things such as browser type and plug-ins, and navigational information regarding which
                            pages visitors go to and when. If you have any questions about this policy, please contact us
                            by email, snail mail, phone, or fax.</p>
                        <p>Experient Consultancy is committed to providing equal employment and volunteer opportunities
                            to all individuals without regard to race, religion, gender, national origin, age, sexual orientation
                            or disability.</p>
                        <p>Our intent is to provide a work environment that is free of discrimination, harassment or intimidation.
                            We respect individuality and creativity.</p>
                    </div>
                    <div class="copyright gotham-light">
                        <button class="close" type="button">close</button>
                        <h2>COPYRIGHT</h2>
                        <p>All site content © 2017 for Experient Consultancy </p>
                        <p>All rights reserved. No part of this site or the related files may be reproduced or transmitted in
                            any form, by any means (electronic, photocopying, recording, or otherwise) without the prior
                            written permission of Experient Consultancy.</p>
                        <p>Website Design: <a href="http://naissanceinc.com/" target="_blank">Naissance, Inc.</a>
                        </p>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <main>
        <button class="back-to-top" type="button"><img alt="" src="/images/experient/triangle icon.png" /><span>Back To Top</span></button>
         <section role="main" class="main">
            <h1>
                <img src="/images/experient/experient logo.png" alt="Experient Logo">
            </h1>
            <ul class="carousel">
                <li class="active" style="background-image: url('/images/experient/banner.png');"></li>
                <li style="background-image: url('/images/experient/banner.png');"></li>
                <li style="background-image: url('/images/experient/banner.png');"></li>
                <li style="background-image: url('/images/experient/banner.png');"></li>
                <li style="background-image: url('/images/experient/banner.png');"></li>
                <li style="background-image: url('/images/experient/banner.png');"></li>
            </ul>
            <button class="back-to-top" type="button"><img alt="" src="/images/experient/triangle icon.png" /><span>Back To Top</span></button>

        </section>
        <section class="services content-section">
            <div class="logo">
                <img src="/images/experient/triangle icon.png" alt="Experian Logo">
            </div>
            <div class="content">
                <p class="gotham-light"><span class="heading gotham-bold">Who we are?</span><br/><br/> Experient Consultancy offers financial, bank relationship,
                    cash management, compliance and risk management consulting services to the Money Service Business (MSB)
                    industry.
                    <br/><br/> Our services offer the MSB the ability to ensure a robust, strong compliance program to satisfy
                    the requirements expected by banks and state or federal financial service regulators he MSB to obtain
                    new or strengthen existing bank relationships which are a critical infrastructure component of an efficient
                    MSB operation.<br/><br/> Secondary to obtaining a bank account with a financial provider is the ability
                    to retain this valuable bank relationship. We offer ongoing support and management to prevent interruptions
                    in your valuable bank account portfolio.
                </p>
            </div>
            <div class="photo">
                <img src="/images/experient/services.png" alt="Servicess">
            </div>
        </section>
        <section class="process content-section">
            <div class="logo">
                <img src="/images/experient/triangle icon.png" alt="Experian Logo">
            </div>
            <div class="content">
                <p class="gotham-light"><span class="heading gotham-bold">Who do we support?</span><br/><br/> We support MSB agents, principals, payment networks,
                    banks and regulators. We offer an independent perspective to all players in the MSB industry who are
                    in search of the inside track on the MSB world.
                </p>
            </div>
            <div class="photo">
                <img src="/images/experient/process.png" alt="Who do we support?">
            </div>
        </section>
        <section class="client content-section">
            <div class="logo">
                <img src="/images/experient/triangle icon.png" alt="Experian Logo">
            </div>
            <div class="content">
                <p class="gotham-light"><span class="heading gotham-bold">How do we do this?</span><br/><br/> We offer initial and continuous audit services,
                    independent assessments, education, training and modeling of the MSB’s compliance program to achieve
                    and attain the highest of bank and regulator standards.
                </p>
            </div>
            <div class="photo">
                <img src="/images/experient/client.png" alt="How do we do this?">
            </div>
        </section>
        <section class="team team-anita">
            <div class="logo">
                <img src="/images/experient/triangle icon.png" alt="Experian Logo">
            </div>
            <div class="content">
                <div class="photo">
                    <img src="/images/experient/anita.png" alt="Anita picture">
                    <p class="title gotham-bold">Anita S. Knudtson, <span class="gotham-book">CPA, CTP, CAMS</span><br/><span class="gotham-medium">Experient Consultancy, Inc.</span>
                    </p>
                </div>
                <p class="description gotham-light">In May, 2017, Anita and her partner, Pedro Alcaraz formed Experient Consultancy, Inc. to meet the compliance,
                    financial and banking needs of the Money Service Business (MSB) industry.<br/><br/> Anita is a licensed
                    CPA, CTP (Certified Treasury Professional) and CAMS (Certified Anti-Money Laundering Specialist) as well
                    as a member of the AICPA, INCPA and AFP professional societies. She is an accounting graduate of Minnesota
                    State University and has completed several MBA classes at Indiana University.<br/><br/> Prior to forming
                    Experient Consultancy, Inc., Anita was the CFO of InterCambio Express, Inc., a principal MSB offering
                    money transmitter services to the Hispanic population. In addition, she has been employed as an Engagement
                    Manager providing Corporate Cash Management consulting services to clients of Crowe Horwath, LLC, a national
                    CPA firm; was the Corporate Cash &amp; Tax Manager for Shelter Components Corporation, a $500M public manufacturing
                    and warehouse distribution operation and as well a tax compliance professional for a regional Iowa CPA
                    firm. While employed at Crowe Horwath, Anita published several articles on Cash Management and has been
                    a featured speaker at several regional Treasury Management Conferences and bank seminars.
                    <br/><br/> In her spare time, Anita serves as a board member on the Beacon Hospital Finance and Medical
                    Group professional boards. Anita brings many years of practical hands on knowledge from her experiences
                    in tax, finance, administration, consulting, board services and executive management.
                </p>
            </div>
        </section>
        <section class="team-pedro">
            <div class="logo">
                <img src="/images/experient/triangle icon.png" alt="Experian Logo">
            </div>
            <div class="content">
                <div class="photo">
                    <img src="/images/experient/pedro.png" alt="Pedro picture">
                    <p class="title gotham-bold">Pedro Alcaraz-Ochoa, <span class="gotham-book">CAMS</span><br/><span class="gotham-medium">Experient Consultancy, Inc.</span>
                    </p>
                </div>
                <p class="description gotham-light">Pedro has been a Certified Anti-Money Laundering Specialist (CAMS) since 2008.<br/><br/> Prior to forming
                    Experient Consultancy, Pedro served as BSA/AML Compliance Officer for principal MSBs offering money transmitter
                    services to the Hispanic population, with presence and broad agent networks across multiple states at
                    InterCambio Express, Inc. and Maxitransfers Corp. In addition, Pedro previously served as the IT liaison
                    to Bancomer Transfer Services’ (BTS) compliance department developing an internal analysis application
                    for monitoring unusual customer activity.<br/><br/> Pedro brings many years of applied knowledge in the
                    unique field of BSA/AML Compliance for MSBs achieved through hands-on experience in Risk Management and
                    Agent Oversight. He has participated in the development of money transmission risk analysis tools and
                    has close familiarity with agent network operations gained through organizational oversight.<br/><br/>                    In addition to regular attendance to educational forums by law enforcement and regulatory agencies, Pedro
                    has served as a recurring speaker at regional BSA/AML agent training conferences and conducted onsite
                    visits to agent locations. His familiarity with transactional detail elements give him an edge in a ssisting
                    MSBs in detecting activity of concern, as well as in providing educational guidance in observing of BSA/AML
                    regulatory compliance.
                </p>
            </div>
        </section>
    </main>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="/js/htmlappjs.js"></script>
</body>

</html>