.wrapper {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  position: relative; }
  .wrapper .menu-btn {
    top: 26px;
    right: 50px;
    padding: 12px 0;
    z-index: 5;
    background: none;
    border: none;
    cursor: pointer;
    width: 30px;
    position: absolute;
    right: 5%;
    z-index: 10; }
    .wrapper .menu-btn::before {
      content: "";
      width: 30px;
      height: 5px;
      background-color: #fff;
      position: absolute;
      top: 2px;
      left: 0;
      border-radius: 2px;
      transition: transform 200ms ease-in, background-color 200ms ease-in; }
    .wrapper .menu-btn::after {
      content: "";
      width: 30px;
      height: 5px;
      background-color: #fff;
      position: absolute;
      top: 20px;
      left: 0;
      border-radius: 2px;
      transition: transform 200ms ease-in, background-color 200ms ease-in; }
    .wrapper .menu-btn span {
      width: 30px;
      height: 5px;
      background-color: #fff;
      display: block;
      border-radius: 2px;
      position: absolute;
      top: 11px;
      left: 0;
      transition: background-color 200ms ease-in; }
  .wrapper .navigation {
    position: fixed;
    left: 0;
    width: 60%;
    height: 0;
    overflow: hidden;
    margin: 0 20%;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
    opacity: 0;
    transition: opacity 500ms ease-in; }
    .wrapper .navigation a {
      color: #fff;
      padding: 5px 0;
      display: block; }
      .wrapper .navigation a:hover {
        color: #00aeef; }
    .wrapper .navigation .wrapper {
      height: 100%;
      overflow: hidden;
      display: none; }
      .wrapper .navigation .wrapper ul {
        padding: 0; }
      .wrapper .navigation .wrapper .sub-nav {
        width: 100%;
        text-align: center;
        position: absolute;
        top: -50%; }
        .wrapper .navigation .wrapper .sub-nav li {
          list-style: none;
          margin-left: 6px;
          font-size: 14px;
          line-height: 14px; }
          .wrapper .navigation .wrapper .sub-nav li a {
            color: #807c7c;
            padding: 5px 0;
            display: block;
            font-size: 14px; }
            .wrapper .navigation .wrapper .sub-nav li a:hover {
              color: #00aeef; }
      .wrapper .navigation .wrapper .scroll-down {
        width: 100%;
        text-align: center;
        position: absolute;
        top: -50%; }
    .wrapper .navigation .main-nav {
      width: 100%;
      text-align: center;
      position: absolute;
      top: -70%;
      display: none; }
      .wrapper .navigation .main-nav li {
        list-style: none;
        display: block;
        font-size: 18px;
        line-height: 30px;
        font-weight: 300; }
        .wrapper .navigation .main-nav li.small {
          font-size: 18px;
          line-height: 22px;
          padding-top: 15px; }
    .wrapper .navigation .privacy, .wrapper .navigation .copyright {
      position: absolute;
      top: -70%;
      left: 50%;
      transform: translateX(-50%);
      width: 50%;
      max-height: 60%;
      overflow-y: scroll;
      padding-right: 15px; }
      .wrapper .navigation .privacy::-webkit-scrollbar, .wrapper .navigation .copyright::-webkit-scrollbar {
        width: .4em; }
      .wrapper .navigation .privacy::-webkit-scrollbar, .wrapper .navigation .privacy::-webkit-scrollbar-thumb, .wrapper .navigation .copyright::-webkit-scrollbar, .wrapper .navigation .copyright::-webkit-scrollbar-thumb {
        overflow: visible;
        border-radius: 4px; }
      .wrapper .navigation .privacy::-webkit-scrollbar-thumb, .wrapper .navigation .copyright::-webkit-scrollbar-thumb {
        background: rgba(192, 192, 192, 0.2); }
      .wrapper .navigation .privacy:hover, .wrapper .navigation .copyright:hover {
        -webkit-transition: all .5s;
        transition: all .5s; }
      .wrapper .navigation .privacy h2, .wrapper .navigation .copyright h2 {
        color: #fff;
        font-size: 20px;
        line-height: 20px;
        margin-bottom: 10px; }
      .wrapper .navigation .privacy p, .wrapper .navigation .copyright p {
        color: #fff;
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 10px;
        font-weight: 300; }
      .wrapper .navigation .privacy button.close, .wrapper .navigation .copyright button.close {
        background: 0;
        border: 0;
        border-radius: 0;
        position: absolute;
        top: 0;
        right: 0;
        color: #fff;
        font-size: 12px;
        padding-right: 15px; }

.nav-open .menu-btn {
  z-index: 21; }
  .nav-open .menu-btn::before {
    top: 14px;
    transform: rotate(-45deg); }
  .nav-open .menu-btn::after {
    top: 14px;
    transform: rotate(45deg); }
  .nav-open .menu-btn span {
    opacity: 0; }

.nav-open .navigation {
  height: 100vh;
  z-index: 20;
  opacity: 1.0; }
  .nav-open .navigation .wrapper {
    display: block; }
    .nav-open .navigation .wrapper .main-nav svg {
      width: 30px;
      height: 30px;
      fill: #fff;
      margin-right: 5px;
      transition: fill 200ms ease-in; }
    .nav-open .navigation .wrapper .main-nav .logo {
      padding: 50px 0; }
    .nav-open .navigation .wrapper .sub-nav {
      top: 70%;
      transition: top 750ms cubic-bezier(0.97, 0.19, 0.75, 0.99) 500ms; }
      .nav-open .navigation .wrapper .sub-nav .scrollDown {
        padding-top: 50px; }
  .nav-open .navigation .main-nav {
    top: 0%;
    transition: top 750ms cubic-bezier(0.97, 0.19, 0.75, 0.99);
    display: block; }
  .nav-open .navigation.show-privacy .privacy {
    position: absolute;
    top: 20%;
    transition: top 750ms cubic-bezier(0.97, 0.19, 0.75, 0.99); }
  .nav-open .navigation.show-privacy ul {
    top: 150%;
    transition: top 750ms cubic-bezier(0.97, 0.19, 0.75, 0.99); }
  .nav-open .navigation.show-privacy .sub-nav {
    top: 130%;
    transition: top 750ms cubic-bezier(0.97, 0.19, 0.75, 0.99); }
  .nav-open .navigation.show-privacy ~ .logo {
    z-index: 5; }
  .nav-open .navigation.show-copyright .copyright {
    position: absolute;
    top: 20%;
    transition: top 750ms cubic-bezier(0.97, 0.19, 0.75, 0.99); }
  .nav-open .navigation.show-copyright ul {
    top: 150%;
    transition: top 750ms cubic-bezier(0.97, 0.19, 0.75, 0.99); }
  .nav-open .navigation.show-copyright .sub-nav {
    top: 150%;
    transition: top 750ms cubic-bezier(0.97, 0.19, 0.75, 0.99); }
  .nav-open .navigation.show-copyright ~ .logo {
    z-index: 5; }

.nav-open .main h1 {
  opacity: 0; }

.scrim {
  display: none;
  background: rgba(0, 0, 0, 0.2);
  z-index: 99;
  position: fixed;
  width: 100%;
  height: 100%; }
  .show-scrim .scrim {
    display: block; }

button.back-to-top {
  position: fixed;
  left: 105%;
  top: 80%;
  background: #fff;
  border-radius: 0;
  border: 0;
  font: 500 12px/14px "Gotham SSm A", "Gotham SSm B", sans-serif;
  color: #23408f;
  z-index: 100;
  transition: left 200ms ease-in;
  width: 100px;
  padding: 0 5px 8px;
  box-shadow: -1px 0 10px rgba(0, 0, 0, 0.3);
  outline: 0;
  cursor: pointer;
  text-transform: uppercase; }
  button.back-to-top span {
    display: block;
    margin-top: 10px; }
  .show-back button.back-to-top {
    left: calc(100% - 100px); }

.main {
  height: 100vh;
  width: 100%; }
  .main h1 {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    opacity: 1.0;
    transition: opacity 500ms ease-in; }
  .main .carousel {
    height: 100vh;
    position: relative; }
    .main .carousel li {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      list-style: none;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      z-index: 7; }
      .main .carousel li.ondeck {
        z-index: 8; }
      .main .carousel li.active {
        z-index: 9; }

.content-section {
  height: auto; }
  .content-section .logo {
    height: 200px;
    width: 100%;
    text-align: center; }
    .content-section .logo img {
      padding: 50px 0; }
  .content-section .content {
    height: auto;
    width: 100%;
    background-color: #7895a3;
    color: white; }
    .content-section .content p {
      width: 80%;
      height: auto;
      padding: 55px 0;
      margin: 0 auto;
      font-size: 18px; }
      .content-section .content p .heading {
        font-size: 26px; }

.process.content-section .content {
  background-color: #00aeef; }

.client.content-section .content {
  background-color: #9fd0cb; }

.team-anita, .team-pedro {
  height: auto; }
  .team-anita .logo, .team-pedro .logo {
    height: 200px;
    width: 100%;
    text-align: center; }
    .team-anita .logo img, .team-pedro .logo img {
      padding: 50px 0; }
  .team-anita .content, .team-pedro .content {
    background-color: #6a747c;
    color: white;
    display: flex;
    height: auto;
    padding: 55px;
    font-size: 18px; }
    .team-anita .content .photo, .team-pedro .content .photo {
      width: 531px; }
      .team-anita .content .photo p.title, .team-pedro .content .photo p.title {
        width: 100%;
        padding: 50px 0 0 0; }
    .team-anita .content p.description, .team-pedro .content p.description {
      width: 45%;
      height: auto;
      margin: 0 0 0 55px; }

.team-pedro .content {
  background-color: #7895a3; }

@media screen and (max-width: 800px) {
  .team-anita .content, .team-pedro .content {
    display: block; }
    .team-anita .content .photo, .team-pedro .content .photo {
      width: 100%; }
    .team-anita .content p.description, .team-pedro .content p.description {
      width: 100%;
      margin-left: 0px; } }

img {
  border: none;
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: auto; }

.gotham-light {
  font-family: "Gotham SSm A", "Gotham SSm B";
  font-style: normal;
  font-weight: 300; }

.gotham-book {
  font-family: "Gotham SSm A", "Gotham SSm B";
  font-style: normal;
  font-weight: 400; }

.gotham-medium {
  font-family: "Gotham SSm A", "Gotham SSm B";
  font-style: normal;
  font-weight: 500; }

.gotham-bold {
  font-family: "Gotham SSm A", "Gotham SSm B";
  font-style: normal;
  font-weight: 700; }

/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
.right-content-container .content-container {
  width: 100%;
  height: 100%;
  display: flex; }
  .right-content-container .content-container .main-content {
    height: 100vh;
    padding: 30px;
    width: 100%; }
    .right-content-container .content-container .main-content .red-header-bar {
      width: 55px;
      border-top: 2px solid #E3178C; }
    .right-content-container .content-container .main-content h1 {
      padding: 0;
      margin: 0 0 20px 0;
      color: #fff;
      font-size: 58px; }
    .right-content-container .content-container .main-content .dashboard-graph {
      margin: 20px 0;
      padding: 15px;
      width: auto;
      height: 200px;
      border: 1px solid #fff; }
    .right-content-container .content-container .main-content .on-the-horizon .arrows, .right-content-container .content-container .main-content .leadership-videos .arrows, .right-content-container .content-container .main-content .leadership-articles .arrows {
      z-index: 1000;
      position: relative;
      top: 67px; }
      .right-content-container .content-container .main-content .on-the-horizon .arrows .fa, .right-content-container .content-container .main-content .leadership-videos .arrows .fa, .right-content-container .content-container .main-content .leadership-articles .arrows .fa {
        color: #E3178C; }
      .right-content-container .content-container .main-content .on-the-horizon .arrows .right, .right-content-container .content-container .main-content .leadership-videos .arrows .right, .right-content-container .content-container .main-content .leadership-articles .arrows .right {
        float: right; }
    .right-content-container .content-container .main-content .on-the-horizon h2, .right-content-container .content-container .main-content .leadership-videos h2, .right-content-container .content-container .main-content .leadership-articles h2 {
      padding: 0;
      margin: 0 0 20px 0;
      color: #fff;
      font-style: normal;
      font-weight: 300;
      font-size: 28px;
      margin: 0 0 5px 0; }
    .right-content-container .content-container .main-content .on-the-horizon hr.top-hr, .right-content-container .content-container .main-content .leadership-videos hr.top-hr, .right-content-container .content-container .main-content .leadership-articles hr.top-hr {
      border: 1px solid #fff;
      opacity: .2;
      margin: 0;
      padding: 0; }
    .right-content-container .content-container .main-content .on-the-horizon hr.bottom-hr, .right-content-container .content-container .main-content .leadership-videos hr.bottom-hr, .right-content-container .content-container .main-content .leadership-articles hr.bottom-hr {
      border: 1px solid #000;
      opacity: .2;
      margin: 0;
      padding: 0; }
    .right-content-container .content-container .main-content .on-the-horizon {
      margin: 0 0 20px 0; }
      .right-content-container .content-container .main-content .on-the-horizon .projects {
        margin: 10px 0; }
        .right-content-container .content-container .main-content .on-the-horizon .projects ul {
          margin: 0;
          padding: 0;
          display: flex;
          justify-content: flex-start; }
          .right-content-container .content-container .main-content .on-the-horizon .projects ul li {
            list-style-type: none;
            width: 260px;
            height: 140px;
            border-radius: 10px;
            margin-right: 15px; }
            .right-content-container .content-container .main-content .on-the-horizon .projects ul li:last-child {
              margin-right: 0; }
            .right-content-container .content-container .main-content .on-the-horizon .projects ul li.even {
              background-color: #fff;
              display: flex;
              justify-content: flex-start; }
              .right-content-container .content-container .main-content .on-the-horizon .projects ul li.even .project-name {
                width: 110px;
                margin: 20px; }
                .right-content-container .content-container .main-content .on-the-horizon .projects ul li.even .project-name p {
                  color: #333333;
                  font-style: normal;
                  font-weight: 700;
                  font-size: 28px;
                  margin: 0 0 15px 0; }
                .right-content-container .content-container .main-content .on-the-horizon .projects ul li.even .project-name i.fa.fa-arrow-right {
                  color: #E3178C; }
              .right-content-container .content-container .main-content .on-the-horizon .projects ul li.even .impact {
                flex: 1;
                margin: 15px 0;
                padding: 0 0 0 10px;
                border-left: 2px solid #2966b0; }
                .right-content-container .content-container .main-content .on-the-horizon .projects ul li.even .impact .impact-score {
                  padding: 10px 0;
                  border-bottom: 1px solid #ddd; }
                  .right-content-container .content-container .main-content .on-the-horizon .projects ul li.even .impact .impact-score p {
                    color: #333333;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 11px;
                    text-transform: uppercase;
                    margin: 0; }
                  .right-content-container .content-container .main-content .on-the-horizon .projects ul li.even .impact .impact-score .score {
                    color: #333333;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 20px;
                    text-transform: uppercase;
                    margin: 0; }
                .right-content-container .content-container .main-content .on-the-horizon .projects ul li.even .impact .impact-date {
                  padding: 10px 0; }
                  .right-content-container .content-container .main-content .on-the-horizon .projects ul li.even .impact .impact-date p {
                    color: #333333;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 11px;
                    text-transform: uppercase;
                    margin: 0; }
                  .right-content-container .content-container .main-content .on-the-horizon .projects ul li.even .impact .impact-date .date {
                    color: #333333;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 20px;
                    text-transform: uppercase;
                    margin: 0; }
            .right-content-container .content-container .main-content .on-the-horizon .projects ul li.odd .top {
              border-top-left-radius: 10px;
              border-top-right-radius: 10px;
              height: 107px;
              background: -webkit-linear-gradient(0deg, #3e6192, #537ba9);
              /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
              background: -moz-linear-gradient(0deg, #3e6192, #537ba9);
              /* For Firefox (3.6 to 15) */
              background: -o-linear-gradient(0deg, #3e6192, #537ba9);
              /* For old Opera (11.1 to 12.0) */
              background: linear-gradient(0deg, #3e6192, #537ba9); }
              .right-content-container .content-container .main-content .on-the-horizon .projects ul li.odd .top p {
                margin: 0;
                text-align: center;
                color: #fff; }
                .right-content-container .content-container .main-content .on-the-horizon .projects ul li.odd .top p.small-name {
                  font-style: normal;
                  font-weight: 700;
                  font-size: 11px;
                  text-transform: uppercase;
                  padding: 18px 0 12px 0; }
                .right-content-container .content-container .main-content .on-the-horizon .projects ul li.odd .top p.large-name {
                  font-style: normal;
                  font-weight: 300;
                  font-size: 29px;
                  line-height: 29px; }
            .right-content-container .content-container .main-content .on-the-horizon .projects ul li.odd .bottom {
              border-bottom-left-radius: 10px;
              border-bottom-right-radius: 10px;
              background-color: #fff;
              height: 33px; }
              .right-content-container .content-container .main-content .on-the-horizon .projects ul li.odd .bottom p {
                margin: 0;
                text-align: center;
                color: #537ba9;
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                padding: 5px; }
    .right-content-container .content-container .main-content .quick-view-details ul.details-boxes {
      margin: 0;
      padding: 0; }
      .right-content-container .content-container .main-content .quick-view-details ul.details-boxes li.detail {
        list-style-type: none;
        width: 240px;
        height: auto;
        border-radius: 5px;
        padding: 15px;
        background-color: #0B243F;
        margin: 0 15px 0 0; }
        .right-content-container .content-container .main-content .quick-view-details ul.details-boxes li.detail .icon {
          color: #E3178C;
          display: flex;
          justify-content: flex-end; }
        .right-content-container .content-container .main-content .quick-view-details ul.details-boxes li.detail .small-pink-header {
          color: #E3178C;
          font-style: normal;
          font-weight: 300;
          font-size: 11px;
          text-transform: uppercase;
          text-align: left; }
        .right-content-container .content-container .main-content .quick-view-details ul.details-boxes li.detail .red-header-bar {
          width: 55px;
          border-top: 2px solid #E3178C;
          margin: 0 0 5px 0; }
        .right-content-container .content-container .main-content .quick-view-details ul.details-boxes li.detail .detail-name {
          margin: 0 0 10px 0; }
          .right-content-container .content-container .main-content .quick-view-details ul.details-boxes li.detail .detail-name p {
            margin: 0; }
          .right-content-container .content-container .main-content .quick-view-details ul.details-boxes li.detail .detail-name .larger-name {
            color: #fff;
            font-style: normal;
            font-weight: 700;
            font-size: 22px;
            text-align: left; }
          .right-content-container .content-container .main-content .quick-view-details ul.details-boxes li.detail .detail-name .smaller-name {
            color: #fff;
            font-style: normal;
            font-weight: 300;
            font-size: 22px;
            text-align: left; }
        .right-content-container .content-container .main-content .quick-view-details ul.details-boxes li.detail .details-main {
          height: 200px;
          width: 112%;
          margin-left: -15px;
          background-color: #182C4C; }
        .right-content-container .content-container .main-content .quick-view-details ul.details-boxes li.detail .view-details {
          width: 100%;
          margin: 15px 0 0 0;
          display: flex;
          justify-content: center; }
          .right-content-container .content-container .main-content .quick-view-details ul.details-boxes li.detail .view-details button {
            border: 1px solid #E3178C;
            padding: 10px 5px;
            color: #fff;
            width: 80%;
            border-radius: 5px;
            font-style: normal;
            font-weight: 300;
            font-size: 12px;
            text-transform: uppercase;
            text-align: center;
            background-color: #0B243F;
            height: 30px;
            line-height: 10px; }
    .right-content-container .content-container .main-content .leadership-videos ul.video-boxes {
      margin: 10px 0 0 0;
      padding: 0;
      height: auto; }
      .right-content-container .content-container .main-content .leadership-videos ul.video-boxes li.video {
        width: 480px;
        height: 340px;
        list-style-type: none; }
        .right-content-container .content-container .main-content .leadership-videos ul.video-boxes li.video .video-main {
          height: 260px;
          background-color: white;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
          display: flex;
          justify-content: center;
          align-items: center; }
          .right-content-container .content-container .main-content .leadership-videos ul.video-boxes li.video .video-main .play-button {
            color: #E3178C; }
        .right-content-container .content-container .main-content .leadership-videos ul.video-boxes li.video .video-details {
          height: auto;
          padding: 15px;
          background-color: #0B243F;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px; }
          .right-content-container .content-container .main-content .leadership-videos ul.video-boxes li.video .video-details .small-pink-header {
            color: #E3178C;
            font-style: normal;
            font-weight: 300;
            font-size: 12px;
            text-transform: uppercase;
            text-align: left; }
            .right-content-container .content-container .main-content .leadership-videos ul.video-boxes li.video .video-details .small-pink-header p {
              margin: 0; }
          .right-content-container .content-container .main-content .leadership-videos ul.video-boxes li.video .video-details .red-header-bar {
            width: 55px;
            border-top: 2px solid #E3178C; }
          .right-content-container .content-container .main-content .leadership-videos ul.video-boxes li.video .video-details .video-name p {
            margin: 10px 0 0 0; }
          .right-content-container .content-container .main-content .leadership-videos ul.video-boxes li.video .video-details .video-name .larger-name {
            color: #fff;
            font-style: normal;
            font-weight: 700;
            font-size: 22px;
            text-align: left; }
          .right-content-container .content-container .main-content .leadership-videos ul.video-boxes li.video .video-details .video-name .smaller-name {
            color: #fff;
            font-style: normal;
            font-weight: 300;
            font-size: 22px;
            text-align: left;
            margin-left: 2px; }
    .right-content-container .content-container .main-content .leadership-articles ul.leadership-article-list {
      margin: 10px 0 0 0;
      padding: 0;
      display: flex;
      justify-content: flex-start; }
      .right-content-container .content-container .main-content .leadership-articles ul.leadership-article-list li.article {
        list-style-type: none;
        width: 210px;
        height: 125px;
        border-radius: 5px;
        margin-right: 15px; }
        .right-content-container .content-container .main-content .leadership-articles ul.leadership-article-list li.article .top {
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          height: 95px;
          background-color: #fff; }
          .right-content-container .content-container .main-content .leadership-articles ul.leadership-article-list li.article .top p {
            margin: 0;
            text-align: center;
            color: #333333; }
            .right-content-container .content-container .main-content .leadership-articles ul.leadership-article-list li.article .top p.small-name {
              font-style: normal;
              font-weight: 700;
              font-size: 11px;
              text-transform: uppercase;
              padding: 15px 0 10px 0; }
            .right-content-container .content-container .main-content .leadership-articles ul.leadership-article-list li.article .top p.large-name {
              font-style: normal;
              font-weight: 300;
              font-size: 28px;
              line-height: 25px; }
        .right-content-container .content-container .main-content .leadership-articles ul.leadership-article-list li.article .bottom {
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
          background-color: #ddd;
          height: 30px; }
          .right-content-container .content-container .main-content .leadership-articles ul.leadership-article-list li.article .bottom p {
            margin: 0;
            text-align: center;
            color: #E3178C;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            padding: 5px; }

.sidebar-drawer {
  width: 230px;
  height: 100%;
  z-index: 1000;
  opacity: .85;
  position: fixed;
  display: block;
  background-color: #081B2D; }
  .sidebar-drawer.closed {
    right: -235px; }
  .sidebar-drawer.open {
    right: 0px; }

html {
  height: 100%; }

body {
  font-family: "proxima-nova", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  min-height: 100%; }
  .container .left-nav-container {
    width: 182px;
    height: auto;
    background-color: #0B243F; }
  .container .right-content-container {
    width: 88%;
    height: 100%;
    background-color: #29539D; }
